@model MOE.Common.Models.RoutePhaseDirection

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>RoutePhaseDirection</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RouteSignalId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RouteSignalId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Phase)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Phase)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsOverlap)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsOverlap)
            </dd>
    
        </dl>
    </div>

</body>
</html>
