@model IEnumerable<MOE.Common.Models.RoutePhaseDirection>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RouteSignalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOverlap)
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RouteSignalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOverlap)
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
