@model MOE.Common.Models.ViewModel.DateTimePickerViewModel
<div class="row">
    <div class="col-md-4">
        <div class="col-md-12">
            @Html.LabelFor(model => model.StartDateDay, htmlAttributes: new { @class = "control-label" })
            <div class="input-group-custom">
                @Html.EditorFor(model => model.StartDateDay, new { htmlAttributes = new { @class = "form-control DayWidth datepicker" } })
                @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control timeWidth", title = "Time component of start date" } })
                @Html.DropDownListFor(model => model.SelectedStartAMPM, Model.StartAMPMList, new { @class = "form-control AMPMWidth", title = "AM PM component of start date" })
            </div>
        </div>
        <div class="col-md-12">
            @Html.LabelFor(model => model.EndDateDay, htmlAttributes: new { @class = "control-label" })
            <div class="input-group-custom">
                @Html.EditorFor(model => model.EndDateDay, new { htmlAttributes = new { @class = "form-control DayWidth datepicker" } })
                @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control timeWidth", title = "Time component of end date" } })
                @Html.DropDownListFor(model => model.SelectedEndAMPM, Model.EndAMPMList, new { @class = "form-control AMPMWidth", title = "AM PM component of end date" })
            </div>
        </div>
        <div class="col-md-12">
            @Html.ValidationMessageFor(model => model.StartTime, "", new { id = "StartTime-error", @class = "text-danger" })
            @Html.ValidationMessageFor(model => model.StartDateDay, "", new { id = "StartDateDay-error", @class = "text-danger" })
            @Html.ValidationMessageFor(model => model.SelectedStartAMPM, "", new { id = "SelectedStartAMPM-error", @class = "text-danger" })
            @Html.ValidationMessageFor(model => model.EndTime, "", new { id = "EndTime-error", @class = "text-danger" })
            @Html.ValidationMessageFor(model => model.EndDateDay, "", new { id = "EndDateDay-error", @class = "text-danger" })
            @Html.ValidationMessageFor(model => model.SelectedEndAMPM, "", new { id = "SelectedEndAMPM-error", @class = "text-danger" })
        </div>
        <div class="col-md-12">
            <button id="ResetDate" type="button" class="btn">Reset Date</button>
        </div>
    </div>
    <div class="col-md-5">
        <div id="StartEndDaySelector" class="col-nomargin col-left jquery-datepickermoveleft"></div>
    </div>
</div>

