@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Automated Signal Performance Metrics show real-time and historical functionality at signalized intersections. This allows traffic engineers to directly measure what previously could only be estimated and modeled.">
    <title>@ViewBag.Title - Automated Traffic Signal Performance Metrics</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AnalyticsCode"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AnalyticsCode');
    </script>
    <!-- Google Tag Manager -->
    <script>
(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GoogleAnalyticsContainerId');</script>
    <!-- End Google Tag Manager -->
    <script src='https://www.google.com/recaptcha/api.js'></script>

     
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GoogleAnalyticsContainerId"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="row">
        <div class="col-md-9 col-sm-12">
            <img class="img-responsive BrandImage" src="~/Images/ATSPM Logo-01.png" title="Automated Traffic Signal Performance Measures" alt="Automated Traffic Signal Performance Measures icon" />
        </div><div class="col-md-3 col-sm-12">
                  <a href="http://udot.utah.gov" class="udotDiv navbar-brand pull-right" title="Utah Department of Transportation">
                      <img src="~/Images/NewUDOTLogo.png" alt="UDOT Logo" />
                  </a>
</div>
    </div>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                        <ul class="navbar-nav mr-auto">
                            @{Html.RenderAction("_MainMenuPartial", "Menus");}
                        </ul>
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()

                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                                </ul>
                            }
                        }
                        else
                        {
                                <form class="form-inline my-2 my-lg-0">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
                                        <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                                    </ul>
                                </form>
                                @*<ul class="nav navbar-nav navbar-right">
                                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "menuItem" })</li>
                                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "menuItem" })</li>
                                </ul>*@
                                }
                        </div>
        </nav>
    </div>
    @RenderBody()
            <hr />
            <footer>
                <p>Automated Traffic Signal Performance Measures Ver 4.2.4</p>
            </footer>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
