@model MOE.Common.Models.MetricComment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>MetricComment</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Signal.PrimaryName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Signal.PrimaryName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TimeStamp)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CommentText)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CommentText)
            </dd>
    
        </dl>
    </div>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.CommentID }) |*@
        @*@Html.ActionLink("Back to List", "Index")*@
    </p>
</body>
</html>
