@model IEnumerable<MOE.Common.Models.MetricComment>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Signal.PrimaryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentText)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Signal.PrimaryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentText)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.CommentID }) |*@
                @*@Html.ActionLink("Details", "Details", new { id=item.CommentID }) |*@
                @Html.ActionLink("Delete", "Delete", new { id=item.CommentID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
