
@model SPM.Models.AggDataExportViewModel
@using (Ajax.BeginForm("CreateMetric", "AggregateDataExport", new AjaxOptions { InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace, UpdateTargetId = "Results", HttpMethod = "POST", OnBegin = "StartReportSpinner()", OnSuccess = "StopReportSpinner()", OnFailure = "StopReportSpinner()" }))
{
    @Html.AntiForgeryToken()
    @Html.DisplayFor(m => m.Signals)

   <div class="col-md-6">
        <div class="panel panel-signal">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a id="Metric" data-toggle="collapse" href="#collapseMetric">
                        Metric
                    </a>
                </h5>
            </div>
            <div id="collapseMetric" class="panel-body panel-collapse collapse in">
                <div class="form-group">
                    @foreach (var metricItem in Model.MetricItems)
                    {
                        <div>
                            @Html.RadioButtonFor(m => m.SelectedMetricType, metricItem.Key)
                            @Html.Label(metricItem.Value)
                        </div>
                    }
                </div>
                @Html.ValidationMessageFor(model => model.SelectedMetricType, "", new { id = "SelectedMetric-error", @class = "text-danger" })
            </div>
        </div>
    </div>

   <div class="col-md-6">
        <div class="panel panel-signal">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a id="DateTime" data-toggle="collapse" href="#collapseDateTime">
                        Date/Time
                    </a>
                </h5>
            </div>
        </div>
        <div id="collapseDateTime" class="panel-body panel-collapse collapse in">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.LabelFor(model => model.StartDateDay, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group-custom">
                        @Html.EditorFor(model => model.StartDateDay, new { htmlAttributes = new { @class = "form-control DayWidth datepicker" } })
                        @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control timeWidth", title = "Time component of start date" } })
                        @Html.DropDownListFor(model => model.SelectedStartAMPM, Model.StartAMPMList,
                            new { @class = "form-control AMPMWidth", title = "AM PM component of start date" })
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.LabelFor(model => model.EndDateDay, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group-custom">
                        @Html.EditorFor(model => model.EndDateDay, new { htmlAttributes = new { @class = "form-control DayWidth datepicker" } })
                        @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control timeWidth", title = "Time component of end date" } })
                        @Html.DropDownListFor(model => model.SelectedEndAMPM, Model.EndAMPMList,
                            new { @class = "form-control AMPMWidth", title = "AM PM component of end date" })
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.CheckBoxFor(model => model.Weekdays, false)
                    @Html.LabelFor(model=>model.Weekdays, new { @class = "control-label" })
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    @Html.CheckBoxFor(model => model.Weekends, false)
                    @Html.LabelFor(model => model.Weekends, new { @class = "control-label" })
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.LabelFor(model => model.SelectedBinSize, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.SelectedBinSize, new SelectList(Model.BinSizes), new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>

   <div class="col-md-6">
        <div class="panel panel-signal">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a id="DataAggregation" data-toggle="collapse" href="#collapseDataAggregation">
                        Data Aggregation
                    </a>
                </h5>
            </div>
            <div id="collapseDataAggregation" class="panel-body panel-collapse collapse in">
                <label>Aggregation (X-axis)</label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.DropDownListFor(model => model.SelectedXAxisType, new SelectList(Model.XAxisTypes), new { @class = "form-control" })
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.DropDownListFor(model => model.SelectedAggregationType, new SelectList(Model.AggregationTypes),  new { @class = "form-control" })
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.DropDownListFor(model => model.SelectedChartType, new SelectList(Model.ChartTypesList), new { @class = "form-control" })
                </div>
            </div>
        </div>

    </div>


    <button id="CreateMetric" type="submit" class="btn btn-primary">Create Chart &nbsp;<span id='RunReportSpinner' class="glyphicon"></span></button>
    <div id="Results"></div>


}

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/AggregateDataExport.js"></script>
}