@using MOE.Common.Models
@using MvcCheckBoxList.Model;
@using SPM.Models
@model global::SPM.Models.ArchiveSettingsViewModel

@Html.BeginForm()
{
<div class="col-md-12 col-sm-12 col-xs-12">
    @Html.LabelFor(model => model.DbArchiveSettings.EnableDatbaseArchive, new { @class = "control-label" })
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    @Html.RadioButtonFor(model => model.DbArchiveSettings.EnableDatbaseArchive, true, htmlAttributes: new { @id = "UseArchiveYes", @name = "UseArchiveYes", @onclick = "UseArchiveYesOptions()" })
    <label>Yes</label>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    @Html.RadioButtonFor(model => model.DbArchiveSettings.EnableDatbaseArchive, false, htmlAttributes: new { @id = "UseArchiveNo", @name = "UseArchiveNo", @onclick = "UseArchiveNoOptions()" })
    <label>No</label>
</div>

<div id="DivOff" class="hidden">
    <div class="col-md-12 col-sm-12 col-xs-12">
        @Html.LabelFor(model => model.DbArchiveSettings.TablePartitionsList, new { @class = "control-label" })
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        @Html.RadioButtonFor(model => model.DbArchiveSettings.TablePartitionsList, TableScheme.Partitioned, htmlAttributes: new { @id = "IsPartitionTables", @name = "IsPartitionTables", @onclick = "PartitionTablesOptions()" })
        <label>Partition Tables</label>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        @Html.RadioButtonFor(model => model.DbArchiveSettings.TablePartitionsList, TableScheme.Standard, htmlAttributes: new { @id = "IsNonPartitionTables", @name = "IsNonPartitionTables", @onclick = "NonPartitionTablesOptions()" })
        <label>Non Partition Tables</label>
    </div>
    <div id="DivMonthsToRemoveIndex" class="hidden">
        <div class="col-md-12 col-sm-12 col-xs-12">
            @Html.LabelFor(model => model.DbArchiveSettings.MonthsToKeepIndex, new { @class = "control-label" })
            @Html.EditorFor(model => model.DbArchiveSettings.MonthsToKeepIndex, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div cclass="col-md-12 col-sm-12 col-xs-12">
        @Html.LabelFor(model => model.DbArchiveSettings.MonthsToKeepData, new { @class = "control-label" })
        @Html.EditorFor(model => model.DbArchiveSettings.MonthsToKeepData, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        @Html.RadioButtonFor(model => model.DbArchiveSettings.DeleteOrMoveOptionList, DeleteOrMove.Delete, htmlAttributes: new { @id = "IsDelete", @name = "IsDelete", @onclick = "DeleteOptions()" })
        <label>Delete</label>
        @Html.RadioButtonFor(model => model.DbArchiveSettings.DeleteOrMoveOptionList, DeleteOrMove.Move, htmlAttributes: new { @id = "IsMove", @name = "IsMove", @onclick = "MoveOptions()" })
        <label>Move</label>
        <div id="DivMovePath" class="hidden">
            @Html.LabelFor(model => model.DbArchiveSettings.ArchivePath, new { @class = "control-label" })
            @Html.EditorFor(model => model.DbArchiveSettings.ArchivePath, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <h4>
        Hours to perform Archive:
    </h4>
    <div class="col-md-12 col-sm-12 col-xs-12">
        @Html.LabelFor(model => model.DbArchiveSettings.StartTime, htmlAttributes: new { @class = "control-label" })
        <div class="input-group-custom">
            @Html.EditorFor(model => model.DbArchiveSettings.StartTime, new { htmlAttributes = new { @class = "form-control timeWidth", title = "Time component of end date" } })
        </div>
    </div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div id="DivEndTime" class="hidden input-group-custom">
        @Html.LabelFor(model => model.DbArchiveSettings.TimeDuration, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.DbArchiveSettings.TimeDuration, new { htmlAttributes = new { @class = "form-control timeWidth", title = "Time component of end date" } })
    </div>
</div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    }
@section Scripts
{
    <script type="text/javascript" src="~/Scripts/ArchiveSettings.js"></script>
    <script type="text/javascript" src="~/Scripts/SignalsSearch.js"></script>
    <script type="text/javascript">
        var urlpathGetRouteSignals = '@Url.Action("GetSignal", "ArchiveSettings")';
        var urlpathGetSignal = '@Url.Action("GetSignal", "ArchiveSettings")';
        var urlpathGetSignalLocation = '@Url.Action("GetSignalLocation", "DefaultCharts")';
        var urlpathSignalInfoBox = '@Url.Action("SignalInfoBox", "DefaultCharts")';
        var urlpathFillSignals = '@Url.Action("FillSignals", "DefaultCharts")';
    </script>
}
