@using MOE.Common.Models
@using MvcCheckBoxList.Model;
@using SPM.Models
@model global::SPM.Models.ArchiveSettingsViewModel


<div class="col-md-12 col-sm-12 col-xs-12">
    @Html.LabelFor(model => model.DbArchiveSettings.SelectedUseArchive, new { @class = "control-label" })
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    @Html.RadioButtonFor(model => model.DbArchiveSettings.SelectedUseArchive, true, htmlAttributes: new { @id = "UseArchiveYes", @name = "UseArchiveYes", @onclick = "UseArchiveYesOptions()" })
    <label>Yes</label>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    @Html.RadioButtonFor(model => model.DbArchiveSettings.SelectedUseArchive, false, htmlAttributes: new { @id = "UseArchiveNo", @name = "UseArchiveNo", @onclick = "UseArchiveNoOptions()" })
    <label>No</label>
</div>

<div id="DivOff" class="hidden">
    <div class="col-md-12 col-sm-12 col-xs-12">
        @Html.LabelFor(model => model.DbArchiveSettings.TablePartitionsList, new { @class = "control-label" })
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        @Html.RadioButtonFor(model => model.DbArchiveSettings.TablePartitionsList, TablePartition.PartitionTables, htmlAttributes: new { @id = "IsPartitionTables", @name = "IsPartitionTables", @onclick = "PartitionTablesOptions()" })
        <label>Partition Tables</label>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        @Html.RadioButtonFor(model => model.DbArchiveSettings.TablePartitionsList, TablePartition.NonPartitionTables, htmlAttributes: new { @id = "IsNonPartitionTables", @name = "IsNonPartitionTables", @onclick = "NonPartitionTablesOptions()" })
        <label>Non Partition Tables</label>
    </div>
    <div id="DivMonthsToRemoveIndex" class="hidden">
        <div class="col-md-12 col-sm-12 col-xs-12">
            @Html.LabelFor(model => model.DbArchiveSettings.MonthsToRemoveIndex, new { @class = "control-label" })
            @Html.EditorFor(model => model.DbArchiveSettings.MonthsToRemoveIndex, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div cclass="col-md-12 col-sm-12 col-xs-12">
        @Html.LabelFor(model => model.DbArchiveSettings.MonthsToRemoveData, new { @class = "control-label" })
        @Html.EditorFor(model => model.DbArchiveSettings.MonthsToRemoveData, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        @Html.RadioButtonFor(model => model.DbArchiveSettings.DeleteOrMoveOptionList, DeleteOrMove.Delete, htmlAttributes: new { @id = "IsDelete", @name = "IsDelete", @onclick = "DeleteOptions()" })
        <label>Delete</label>
        @Html.RadioButtonFor(model => model.DbArchiveSettings.DeleteOrMoveOptionList, DeleteOrMove.Move, htmlAttributes: new { @id = "IsMove", @name = "IsMove", @onclick = "MoveOptions()" })
        <label>Move</label>
        <div id="DivMovePath" class="hidden">
            @Html.LabelFor(model => model.DbArchiveSettings.ArchivePath, new { @class = "control-label" })
            @Html.EditorFor(model => model.DbArchiveSettings.ArchivePath, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <h4>
        Hours to perform Archive:
    </h4>
    <div class="col-md-12 col-sm-12 col-xs-12">
        @Html.LabelFor(model => model.DbArchiveSettings.StartTime, htmlAttributes: new { @class = "control-label" })
        <div class="input-group-custom">
            @Html.EditorFor(model => model.DbArchiveSettings.StartTime, new { htmlAttributes = new { @class = "form-control timeWidth", title = "Time component of end date" } })
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div id="DivEndTime" class="hidden input-group-custom">
            @Html.LabelFor(model => model.DbArchiveSettings.TimeDuration, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.DbArchiveSettings.TimeDuration, new { htmlAttributes = new { @class = "form-control timeWidth", title = "Time component of end date" } })
        </div>
    </div>

<div class="panel panel-signal">
    <div class="panel-heading">
        <h5 class="panel-title">
            <a id="Signals" data-toggle="collapse" href="#collapseMap">
                Load Signals From Map
            </a>
        </h5>
    </div>
    <div id="collapseMap" class="panel-body panel-collapse collapse">
        @Html.Partial("~/Views/DefaultCharts/SignalSearch.cshtml", new ViewDataDictionary(Model.SignalSearch))
    </div>
</div>
<div class="panel panel-signal">
    <div class="panel-heading">
        <h5 class="panel-title">
            <a id="Signals" data-toggle="collapse" href="#collapseSignal">
                Signals
            </a>
        </h5>
    </div>
</div>
</div>
@section Scripts
{
    <script type="text/javascript" src="~/Scripts/ArchiveSettings.js"></script>
    <script type="text/javascript" src="~/Scripts/SignalsSearch.js"></script>
    <script type="text/javascript">
        var urlpathGetRouteSignals = '@Url.Action("CreateMetric", "ArchiveSettings")';
        var urlpathGetSignal = '@Url.Action("GetSignal", "ArchiveSettings")';
        var urlpathGetSignalLocation = '@Url.Action("GetSignalLocation", "DefaultCharts")';
        var urlpathSignalInfoBox = '@Url.Action("SignalInfoBox", "DefaultCharts")';
        var urlpathFillSignals = '@Url.Action("FillSignals", "DefaultCharts")';
    </script>
}
