@model MOE.Common.Models.ViewModel.RouteEdit.ApproachesForRouteViewModel

<div>
    <table class="table-condensed table-striped">
        <thead>
        <tr class=""><th rowspan="2">Signal</th><th colspan="3">Primary</th><th colspan="3">Opposing</th></tr>
        <tr>
            <th>
                Direction
            </th>
            <th>
                Phase
            </th>
            <th>
                Overlap
            </th>
            <th>Direction</th>
            <th>Phase</th>
            <th>Overlap</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.PairedApproaches)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item1.RouteSignal.Signal.SignalDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item1.Direction.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item1.Phase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item1.IsOverlap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item2.Direction.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item2.Phase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item2.IsOverlap)
                </td>
            </tr>
        }</tbody>
    </table>
</div>