@model MOE.Common.Models.ViewModel.RouteEdit.ApproachesForRouteViewModel

<div class="col-md-6">
    Primary Approaches
    <table class="table">
        <tr>
            <th>
                Signal ID
            </th>
            <th>
                Direction
            </th>
            <th>
                Phase
            </th>
            <th>
                Is Overlap
            </th>
            <th>Opposing Direction</th>
            <th>Opposing Phase</th>
            <th>Opposing Is Overlap</th>
        </tr>

        @foreach (var item in Model.PairedApproaches) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item1.RouteSignal.SignalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item1.Direction.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item1.Phase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item1.IsOverlap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item2.Direction.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item2.Phase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item2.IsOverlap)
            </td>
        </tr>
        }
    </table>
</div>