@model MOE.Common.Models.RouteSignal

<table class="table table-condensed table-striped">
    
    <tr><th colspan="5">@Model.Signal.SignalDescription</th></tr>
    <tr><th>Phase</th><th>Direction</th><th>Overlap</th><th>Primary</th><th>Opposing</th></tr>
    @if (Model.Signal.Approaches != null)
    {
        foreach (var approach in Model.Signal.Approaches)
        {
            var routePhaseDirectiton = Model.PhaseDirections.Where(p =>
                p.IsOverlap == approach.IsProtectedPhaseOverlap
                && p.Phase == approach.ProtectedPhaseNumber
                && p.DirectionTypeId == approach.DirectionTypeID).FirstOrDefault();
            if (routePhaseDirectiton != null)
            {
                <tr>
                    <td>@approach.ProtectedPhaseNumber</td>
                    <td>@approach.DirectionType.Description</td>
                    <td>@approach.IsProtectedPhaseOverlap</td>
                    <td><input type="radio" id="@approach.ProtectedPhaseNumber@approach.DirectionType.Abbreviation" onclick="SetApproach(@approach.ProtectedPhaseNumber, @approach.DirectionTypeID, @approach.IsProtectedPhaseOverlap.ToString().ToLower(), true, @Model.Id)" @(routePhaseDirectiton.IsPrimaryApproach == true ? "checked" : "") value="primary" name="primary" class="radio"/></td>
                    <td><input type="radio" value="opposing" name="opposing" onclick="SetApproach(@approach.ProtectedPhaseNumber, @approach.DirectionTypeID, @approach.IsProtectedPhaseOverlap.ToString().ToLower(), false, @Model.Id)" @(routePhaseDirectiton.IsPrimaryApproach == false ? "checked" : "") class="radio"/></td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@approach.ProtectedPhaseNumber</td>
                    <td>@approach.DirectionType.Description</td>
                    <td>@approach.IsProtectedPhaseOverlap</td>
                    <td><input type="radio" id="@approach.ProtectedPhaseNumber@approach.DirectionType.Abbreviation" onclick="SetApproach(@approach.ProtectedPhaseNumber, @approach.DirectionTypeID, @approach.IsProtectedPhaseOverlap.ToString().ToLower(), true, @Model.Id)" value="primary" name="primary" class="radio"/></td>
                    <td><input type="radio" value="opposing" name="opposing" onclick="SetApproach(@approach.ProtectedPhaseNumber, @approach.DirectionTypeID, @approach.IsProtectedPhaseOverlap.ToString().ToLower(), false, @Model.Id)" class="radio"/></td>
                </tr>
            }
        }
    }
</table>