@model MOE.Common.Models.ViewModel.RouteEdit.RouteCreateViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ApproachRoute</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Route.RouteName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Route.RouteName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Route.RouteName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="SignalSearchContainer" class="col-md-8 panel-min-width">
            @Html.Partial("RouteMap", new ViewDataDictionary(Model.RouteMap))
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
    <script type="text/javascript" src="~/Scripts/Route.js"></script>
    <script> var urlpathGetSignalLocation = '@Url.Action("GetSignalLocation", "DefaultCharts")';</script>
    <script> var urlpathApproaches = '@Url.Action("ApproachList", "Route")';</script>
}
