@model MOE.Common.Models.DetectorComment


<tr data-det-comment-id="@Model.CommentID">
    @Html.HiddenFor(model => model.CommentID)
    @Html.HiddenFor(model => model.ID)
    <td>
        @Model.TimeStamp
    </td>

    <td>
        @Model.CommentText
    </td>

    <td>
        <button class="btn btn-danger" onclick="DeleteDetectorComment(@Model.CommentID)">Delete</button>
    </td>
</tr>
