@model IEnumerable<SPM.Models.AggDataExportViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SignalId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventCodes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventParams)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDateHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDateMinute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDateHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDateMinute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SignalId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventCodes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventParams)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDateHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDateMinute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDateHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDateMinute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
