
@model SPM.Models.AggDataExportViewModel
@using (Ajax.BeginForm("CreateMetric", "AggregateDataExport", new AjaxOptions {InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace, UpdateTargetId = "Results", HttpMethod = "POST"}))
{
    @Html.AntiForgeryToken()
    @Html.DisplayFor(m => m.Signals)
    @*<table class="table table-striped">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Signals.FirstOrDefault().SignalID)</th>
            <th>
                @Html.DisplayNameFor(model => model.Signals.FirstOrDefault().SignalDescription)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Signals) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SignalID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SignalDescription)
                </td>
            </tr>
        }*@
        <button type="submit" class="btn btn-primary" value="Create Metric">Create Metric</button>
        <div id="Results"></div>


    @*</table>*@
}
