
@model SPM.Models.AggDataExportViewModel
    
<div class="panel panel-signal">
    <div class="panel-heading">
        <h5 class="panel-title">
            <a id="Metric" data-toggle="collapse" href="#collapseMetric">
                Metric
            </a>
        </h5>
    </div>
    <div id="collapseMetric" class="panel-body panel-collapse collapse">
        <div class="form-group">
            @foreach (var metricItem in Model.MetricItems)
            {
                <div>

                    @Html.RadioButtonFor(m=>m.SelectedMetric, metricItem.Key)
                    @Html.Label(metricItem.Value)
                </div>
            }
        </div>
    </div>
</div>

<div class="panel panel-signal">
    <div class="panel-heading">
        <h5 class="panel-title">
            <a id="Signals" data-toggle="collapse" href="#collapseSignals">
                Signals
            </a>
        </h5>
    </div>
    <div id="collapseSignals" class="panel-body panel-collapse collapse">
                

        @*<div id="SignalSearchContainer" class="col-md-6 panel-min-width">
                    @Html.Partial("~/Views/DefaultCharts/SignalSearch.cshtml", new ViewDataDictionary(Model.SignalSearchViewModel))
                </div>*@
        <div id="Routes" class="col-md-6">
            Load Route: @Html.DropDownListFor(m => m.SelectedRouteId, new SelectList(Model.Routes, "Id", "RouteName"), "Select A Route",
                            new {@onchange = "LoadRoute()"})
            <div id="RouteSignals">
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript" src="~/Scripts/AggregateDataExport.js"></script>
    <script type="text/javascript">
        var urlpathGetRouteSignals = '@Url.Action("CreateMetric", "AggregateDataExport")';
    </script>
}