@model SPM.Models.MetricTypesDefaultValuesViewModel

@{
    ViewBag.Title = "Default Chart Settings";
}

<h2 class="mt-2 text-center">Default Chart Settings</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-6 mx-auto">
                <input type="submit" value="Save Changes" class="btn btn-outline-secondary ml-4 m-2" />

        @Html.Partial("~/Views/MetricTypesDefaultValues/PhaseTerminationOptions.cshtml")
        @Html.Partial("~/Views/MetricTypesDefaultValues/SplitMonitorOptions.cshtml")
        @Html.Partial("~/Views/MetricTypesDefaultValues/PedDelayOptions.cshtml")
        @Html.Partial("~/Views/MetricTypesDefaultValues/ApproachDelayOptions.cshtml")
        @Html.Partial("~/Views/MetricTypesDefaultValues/LeftTurnGapAnalysisOptions.cshtml")
        @Html.Partial("~/Views/MetricTypesDefaultValues/SplitFailOptions.cshtml")
        @Html.Partial("~/Views/MetricTypesDefaultValues/YellowAndRedOptions.cshtml")
        @Html.Partial("~/Views/MetricTypesDefaultValues/TMCOptions.cshtml")
        @Html.Partial("~/Views/MetricTypesDefaultValues/ApproachVolumeOptions.cshtml")
        @Html.Partial("~/Views/MetricTypesDefaultValues/AoROptions.cshtml")
        @Html.Partial("~/Views/MetricTypesDefaultValues/PCDOptions.cshtml")
        @Html.Partial("~/Views/MetricTypesDefaultValues/ApproachSpeedOptions.cshtml")
        @Html.Partial("~/Views/MetricTypesDefaultValues/WaitTimeOptions.cshtml")
        @Html.Partial("~/Views/MetricTypesDefaultValues/TimingAndActuationsOptions.cshtml")
    </div>
}

@section Scripts
{
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @Scripts.Render("~/Scripts/ChangeDefaultsMenu.js")
}

