@model MOE.Common.Models.Signal


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(Model.ControllerType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(Model.Region.Description)
        </th>
        <th>
            @Html.DisplayNameFor(Model.PrimaryName)
        </th>
        <th>
            @Html.DisplayNameFor(Model.SecondaryName)
        </th>
        <th>
            @Html.DisplayNameFor(Model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(Model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(Model.Enabled)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(Model.ControllerType.Description)
        </td>
        <td>
            @Html.DisplayFor(Model.Region.Description)
        </td>
        <td>
            @Html.DisplayFor(Model.PrimaryName)
        </td>
        <td>
            @Html.DisplayFor(Model.SecondaryName)
        </td>
        <td>
            @Html.DisplayFor(Model.Latitude)
        </td>
        <td>
            @Html.DisplayFor(Model.Longitude)
        </td>
        <td>
            @Html.DisplayFor(Model.Enabled)
        </td>
    </tr>
</table>
