@model SPM.Models.DataExportViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>DataExportViewModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.StartDateDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StartDateDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EndDateDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EndDateDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StartDateHour)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StartDateHour)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StartDateMinute)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StartDateMinute)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EndDateHour)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EndDateHour)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EndDateMinute)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EndDateMinute)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Count)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Count)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
