@model IEnumerable<MOE.Common.Models.ViewModel._MainMenu.MenuItem>
@using AuthorizedActionLink

@foreach (var m in Model)
{
    @RenderMenuItems(m)
}
@helper RenderMenuItems(MOE.Common.Models.ViewModel._MainMenu.MenuItem m)
{
    if (m.SubMenuItems.Count == 0 && m.MenuObject.MenuName != "Links")
    {
        if (m.MenuObject.ParentId == 0)
        {
            <li class="nav-item">
                @Html.AuthorizedActionLink(m.MenuObject.MenuName, m.MenuObject.Action, m.MenuObject.Controller, new { id = UrlParameter.Optional }, new { @class = "nav-link" })
            </li>
        }
        else
        {
            @Html.AuthorizedActionLink(m.MenuObject.MenuName, m.MenuObject.Action, m.MenuObject.Controller, new { id = UrlParameter.Optional }, new { @class = "dropdown-item" })
        }
    }
    else
    {
        if (@m.MenuObject.ParentId == 0)
        {
            if (m.MenuObject.MenuName != "Admin" || m.IsAdmin || m.IsConfiguration || m.IsTechnician || m.IsData)
            {
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">@m.MenuObject.MenuName </a>
                    <div class="dropdown-menu">
                        @foreach (var s in m.SubMenuItems)
                        {
                            @RenderMenuItems(s)
                        }
                        @if (m.MenuObject.MenuName == "Links")
                        {
                            foreach (MOE.Common.Models.ExternalLink e in m.ExternalLinks.OrderBy(x => x.DisplayOrder).ToList())
                            {

                                <a href="@e.Url" class="dropdown-item">@e.Name</a>
                            }
                        }
                    </div>
                </li>
            }
        }
        else
        {
            <li class="dropdown-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@m.MenuObject.MenuName </a>
                <ul class="dropdown-menu">
                    @foreach (var s in m.SubMenuItems)
                    {
                        @RenderMenuItems(s)
                    }
                </ul>
            </li>
        }
    }
}