@model IEnumerable<MOE.Common.Models.Jurisdiction>

@{
    ViewBag.Title = "Agency Configuration";
}

<h2>Route Configuration</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JurisdictionName)
        </th>
        <th>Edit/Delete</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JurisdictionName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Index", "AgencySignals", new { id=item.Id }, new { }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
