@model IEnumerable<MOE.Common.Models.Area>

@{
    ViewBag.Title = "Area Configuration";
}

<h2>Area Configuration</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AreaName)
        </th>
        <th>Edit/Delete</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AreaName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>